.container{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1296px;
  }
    
  .card{
      width: 416px;
      box-sizing: border-box;
      border: 1px solid #F2F2F2;
      border-radius: 16px;
      margin-bottom: 12px;
  }
    .card_img{
      border-radius: 16px 16px 0 0;
      width: 416px;
      height: 312px;
      background-color: black;
    }
    .card_title{
        font-size: 12px;
        font-weight: 900;
        margin-left: 32px;
        margin-right: 32px;
    }
    .card_index{
        font-size: 14px;
        margin-left: 32px;
        margin-right: 32px;
        height: 42px;
    }
    .Model_creator {
        border-top: 2px solid #f2f2f2;
        border-bottom: 2px solid #f2f2f2;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        justify-content: space-between;
        font-size: 10px;
    }
    .Model_creator h1{
        font-weight: 700;
        font-size: 16px;
      }

    .Model_creator p{
        font-weight: 500;
        font-size: 16px;
    }

    .link{
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 400;
      }
      .link img{
          display: block;
          margin-top: 20px;
      }

    
    

        